*{
    box-sizing: inherit;
    font-family: 'Modern H Bold',sans-serif;
}
html{
    font-size: 62.5%;/*1rem = 10px*/
    box-sizing: border-box;
    
}
a{
    color:#337ab7;
    text-decoration:none;
}

/* Frame responsive*/
.grid{
    width: 1200px;
    max-width:100%;
    margin: auto;
}
.grid-content{
    max-width:970px;
    margin-left:auto;
    margin-right:auto;
}
.grid-full{
    width:100%;
}
.grid-row{
    display:flex;
    flex-wrap: wrap;
}
.grid-column-2{
    width:16.666%;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-column-3{
    width:25%;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-column-4{
    width:33.333%;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-column-6{
    width:50%;
    padding-left: 15px;
    padding-right: 15px;
}
.grid-column-8{
    width:66.666%;
    padding-left:15px;
    padding-right: 15px;
}
.grid-column-10{
    width:83.333%;
    padding-left:15px;
    padding-right: 15px;
}
.grid-coloumn-12{
    width:100%;
}