.heading-intro{
    font-size: 27px;
    text-align: center;
    margin:50px 0 20px;
}
.content-text{
    margin-top:20px;
}
.content-text p{
    font-size: large;
    color:#333;
    margin-left: 15px;
}
strong{
    color:;
}

@media (max-width:768px){
    .row{
        margin-left: 0;
        margin-right: 0;
    }
}